<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>562872912845-m0706t1mc7o7kmm63qqnmb24jrvom6ub.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.562872912845-m0706t1mc7o7kmm63qqnmb24jrvom6ub</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>562872912845-fa3lfkebp3026oau4n687uq5phk04n6d.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBRm-kbFv4d_p8bZVl24ZMn688pVFclzOU</string>
	<key>GCM_SENDER_ID</key>
	<string>562872912845</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobsPot.dev</string>
	<key>PROJECT_ID</key>
	<string>jobs-pot-79ee5</string>
	<key>STORAGE_BUCKET</key>
	<string>jobs-pot-79ee5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:562872912845:ios:d115615641f6e7f3305284</string>
</dict>
</plist>