<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178268151172-tkn05hvsi6367ld1s8t1743o31okiov2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178268151172-tkn05hvsi6367ld1s8t1743o31okiov2</string>
	<key>API_KEY</key>
	<string>AIzaSyDaFKRR_jHQhiF05qypUeK8NPRK5KqyyZM</string>
	<key>GCM_SENDER_ID</key>
	<string>178268151172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.jobsPot.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>jobs-pot-6f2b3</string>
	<key>STORAGE_BUCKET</key>
	<string>jobs-pot-6f2b3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178268151172:ios:f0f50914d671ea6b4b91d1</string>
</dict>
</plist>